#game {
  position: absolute;
  top: 1000px;
  width: 800px;
}

#messages_parent {
  position: absolute;
  right: 50%;
}

#messages {
  visibility: hidden;
  position: relative;
  right: -50%;
  top: 300px;
  font-size: 40px;
  background-color: #444444;
  border: 10px black solid;
  opacity: 0.6;
}

#game_header {
  width: auto;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  font-size: 60px;
  font-family: 'Dancing Script', sans-serif;
  background-color: #85C8F7;
}

#board {
  width: 615px;
  height: 615px;
  margin: 20px auto;
}

#table {
  float: left; /* prevent margin collapse */
}

#buttons {
  width: auto;
  height: 40px;
  background-color: #C97B6D;
}

.game_button {
  margin: 10px 0 0 25px;
  font-family: sans-serif;
}

#restart_button {
  position: relative;
  float: right;
  margin-right: 25px;
}

#footer {
  width: auto;
  height: 35px;
  padding-left: 15px;
  line-height: 35px;
  font-family: sans-serif;
  background-color: #89D5FF;
}

