@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
/* font-family: 'Dancing Script', cursive; */

#selector {
  position: absolute;
}

p, label, select {
  color: white;
  font-family: sans-serif;
  font-size: 22px;
}
  
#hero_div_top {
  position: relative;
  height: 250px;
  overflow: visible;
}

.hero_img {
  position: relative;
  left: -8035px;
  height: 100%;
}

#hero_div_bottom {
  position: relative;
  height: 250px;
}

#title {
  position: absolute;
  left: 150px;
  top: 150px;
  font-size: 36px;
  font: green;
  color: white;
  font-family: sans-serif;
}

#title_shadow {
  position: absolute;
  left: 143px;
  top: 150px;
  width: 355px;
  height: 45px;
  opacity: 0.5;
  background-color: #888888;
  border-radius: 20px;
}

#selector_panel {
  position: relative;
  height: 300px;
  visibility: hidden;
}

#board_selector {
  position: relative;
  float: left;
  margin-top: 60px;
  margin-left: 75px;
  margin-right: 75px;
}

#board_size_form, #handicap_listbox {
  margin-left: 30px;
}

#board_size_form input {
  margin-bottom: 20px;
}

#handicap_selector {
  position: relative;
  float: left;
  margin-top: 60px;
  margin-right: 75px;
}

#handicap_listbox {
  color: #000000;
}

#submit_box {
  position: relative;
  float: left;
}

#submit_button {
  margin-top: 110px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 35px;
  font-family: 'Dancing Script', cursive;
}

#copywrite {
  position: absolute;
  top: 45px;
  right: 120px;
  font-size: 15px;
  color: white;
  font-family: sans-serif;
}

#copywrite_shadow {
  position: absolute;
  top: 43px;
  right: 114px;
  width: 150px;
  height: 21px;
  opacity: 0.5;
  background-color: #888888;
  border-radius: 20px;
}

